@import 'styles/mixin';
@import 'styles/variables';

/* buttons */
.btnCreate {
  color: #f83030;
  background-color: #61dafb;
}

/*table*/
.banner {
  @include displayFlex(center, center, column);
  width: 40px;
  height: 40px;
  font-weight: bold;
}
td {
  width: 67px;
  height: 42px;
  user-select: none;
}
.amount {
  @include displayFlex(center, center, null);
  width: 100%;
  height: 100%;
  color: #0d4d5e;
  font-weight: bold;
  background-color: #61dafb;
  border-radius: 7px;
}
.amount:hover,
.amount.focus {
  color: #ffff;
  background-color: #f87a63;
}

.nearestItem {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  color: #0d4d5e;
  background-color: rgb(245, 248, 39);
}
.percent {
  @include displayFlex(center, center, null);
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $white-color;
}
.percentText {
  position: relative;
  z-index: 2;
}
.columnPercent {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: #fc4639f5;
  width: 100%;
}
.removeButton {
  border: none;
  background-color: #fff;
}

.avg,
.sum {
  color: $white-color;
  background-color: #1ba59e;
}
.avg:hover,
.avg:focus,
.sum:hover,
.sum.focus {
  background-color: #1ba59e;
}

